@media screen and (max-width:400px) {
    .descricao {
        width: 100%;
    }
    .titulo {
        font-size: 1.8em;
    }
}

@media screen and (max-width:950px) {
    header .container {
        flex-direction: column;
    }

    .botoes button {
        margin-top: 10px;           
    }
}

@media screen and (min-width:1000px) {
    .descricao {
        width: 50%;
    }
}